.DS_Store
/CityMines/build
/CityMines/CityMines.xcodeproj/mariusb.pbxuser
/CityMines/CityMines.xcodeproj/mariusb.perspectivev3
/CityMines/CityMines.xcodeproj/marcok.mode1v3
/CityMines/CityMines.xcodeproj/marcok.pbxuser